<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/page_not_found.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/main.css}"/>
</head>
<body>

<div th:replace="~{fragments/menu :: menu}">
</div>

<h1><p>Error 404. Page not found</p></h1>
<h1><p>Упс...</p></h1>
<h1><p>Эта страница пока отсутствует, совсем скоро здесь что-то будет</p></h1>
</body>
</html>