<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корректировка карты</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/card_edit.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
</head>
<body>
<!--<div th:insert="fragments/menu.html">
</div>
-->

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>

<div class="topnav" id="myTopnav">

    <a th:href="@{/resources/templates/order_list}">
        Наряды
    </a>
    <a th:href="@{/resources/templates/order_list}">
        Сборки
    </a>
    <a th:href="@{/resources/templates/order_list}">
        Доска
    </a>
    <a th:href="@{/resources/templates/order_list}">
        Настройки
    </a>
    <a th:href="@{/resources/templates/order_list}">
        Сервисы
    </a>
    <a th:href="@{/resources/templates/order_create}" class="new-card-link">
        Создать наряд
    </a>
</div>

<div class="cardEdit">
    <form th:action="@{save_card_change/{idCards}(idCards=${cardsKorr.idCards})}" th:object="${cardsKorr}" method="post" >
        <table class="tCardEdit">
            <tbody>
            <tr>
                <td class="c2" colspan="2">
                    Карта передачи ПО № <th:block th:text="${cardsKorr.numberCard}"></th:block>
                </td>
            </tr>
            <tr>
                <td class="c1">
                    Ответственный за передачу
                </td>
                <td class="c3">
                    <label>
                        <input id="C_OTV" th:field="${cardsKorr.idOtv}" type="text">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="c1">
                    Система
                </td>
                <td>
                    <span th:text="*{system}"></span>
                </td>
            </tr>
            <tr>
                <td class="c1">
                    Дата создания
                </td>
                <td class="c3">
                    <label for="C_DATE_CREATE">
                        <input type="date" th:field="${cardsKorr.dateCreate}" id="C_DATE_CREATE">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="c1">
                    Дата корректировки
                </td>
                <td class="c3">
                    <label for="C_DATE_KORR">
                        <input type="date" th:field="${cardsKorr.dateCorrect}" id="C_DATE_KORR">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="c1">
                    Статус передачи
                </td>
                <td class="c3">
<!--                    <label>-->
<!--                        <input type="text" th:field="${cardsKorr.status}" id="C_STATUS">-->
<!--                    </label>-->
                    <span th:text="${cardsKorr.status}"></span>
                </td>

            </tr>
            <tr>
                <td class="c2" colspan="2">
                    Передаваемые наряды:
                </td>
            </tr>
            <tr>
                <td class="c2" colspan="2">
                    <label id="C_ORDER_LIST">

                    </label>
                </td>
            </tr>
            </tbody>

        </table>
        <table class="tCardMenu">
            <tr>
                <td class="tm1">
                        <button type="submit" value="Сохранить">
                            Сохранить изменения
                       </button>

                </td>
                <td class="tm1">
                        <a th:class="undo_change" th:href="@{/resources/templates/card_view/{idCards}(idCards=${cardsKorr.idCards})}">
                            Отменить
                        </a>
                </td>
           </tr>
        </table>
    </form>
</div>
</body>
</html>